<ion-header no-border>
  <ion-navbar align-title="center" transparent >
    <ion-title>
      <img src="assets/imgs/netflix-logo.png">
    </ion-title>
   
  </ion-navbar>
 
</ion-header>

<ion-content class="list-avatar-page"  padding #pageContent>
   
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content 
         pullingIcon="refresh-circle"
         refreshingSpinner="bubbles">
          </ion-refresher-content>
        </ion-refresher>


   
     
    <ion-grid>
        <!-- Row 2 Scrollable list -->
        <ion-row>
          <ion-col>
              <div [innerHtml]="iframe_html" ></div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-segment [(ngModel)]="segementHome" color="netflixRed">
                    <ion-segment-button value="list">
                      <ion-icon name="list"></ion-icon>
                    </ion-segment-button>
                    <ion-segment-button value="chat" [disabled]='!chatEnable'>
                      <ion-icon name="chatbubbles"></ion-icon>
                    </ion-segment-button>
                  </ion-segment>
            </ion-col>
          </ion-row>
        <ion-row  *ngIf="chatEnable && segementHome == 'chat'">
          <ion-col>
               
              <ion-scroll  scrollY="true" class="test">            
                  <ion-list *ngFor="let message of messages ">
                     <ion-item no-lines>
                        <ion-avatar item-start>
                          <img src="assets/imgs/netflix-avatar.png">
                        </ion-avatar>
                        <h3>{{message.from}}</h3>
                        <p>{{message.text}}</p>
                        <ion-note item-end>{{message.created | date:' h:mm' }}</ion-note>
                      </ion-item>
                    </ion-list>   
                  </ion-scroll> 
              
             
          </ion-col>
        </ion-row>
    
      </ion-grid>
      
    
    <ion-list   *ngIf="segementHome == 'list'" >
      <div *ngFor="let homeScreenGroup of homeScreenGroups"  >
        <div class="item-title">{{homeScreenGroup.name}}</div>

        <ion-scroll scrollX="true" scroll-avatar>
          <ion-list>
            <ion-col  class="scroll-item" *ngFor="let groupItem of homeScreenGroup.groupItems"  >
              <img src="{{groupItem.detailsPicture}}" (click)="goToGroupItemDetails(groupItem)" />
            </ion-col>           
          </ion-list>
        </ion-scroll>
      </div>    
    </ion-list>

    <br>
    <br>
  

</ion-content>    
<ion-footer  [hidden]="segementHome !== 'chat'" >
    <ion-toolbar>   
        <ion-item>    
            <ion-input [(ngModel)]="message" type="text" placeholder="mensaje"  (keypress)="keyPress($event.keyCode)"></ion-input>
       </ion-item>       
   
       <ion-buttons end>
         <button ion-button icon-right color="netflixRed" (click)="sendMessage()">          
           <ion-icon name="send"></ion-icon>
         </button>
 
       </ion-buttons>
              
     </ion-toolbar>
 </ion-footer>