page-home {
    .toolbar-title {
        text-align: center;
    }

    ion-title {
        img {
            max-height: 56px;
            text-align: center;
        }
    }

    ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
        padding: 0px !important;
    }

    .content {
        background-color: map_get($colors, netflixDarkGrey);

      
       
        .image::after {
            display: block;
            position: relative;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, map_get($colors, netflixDarkGrey) 100%);
            margin-top: -150px;
            height: 150px;
            width: 100%;
            content: '';
        }

        .scroll-container {
            padding: 0px 16px;
            margin-top: 10px;

            ion-row {
                p {
                    margin: 0px;
                    font-size: 16px;
                    font-weight: bold;
                    color: map_get($colors, netflixWhite);
                }

                .series-button {
                    margin-bottom: 40px;
    
                    ion-icon {
                        font-size: 25px;
                    }
                }
            }            
        }

        .item-title {
            color: map_get($colors, netflixWhite);
            font-size: 14px;
            margin-bottom: 5px;
            margin-left: 5px;
            font-weight: bold;
        }
        
        ion-scroll[scrollX] {
            white-space: nowrap;
            height: 170px;
            overflow: auto;
        
            .scroll-item {
              display: inline-block;
              max-width: 105px;
            }

            ion-col {
                img {
                    height: 150px;
                    width: 105px;
                }
            }
          }
        
          /* Hide ion-content scrollbar */
          ::-webkit-scrollbar{
            display:none;
          }

          
    }

    .user_name {
        color: #afafaf;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        background: color($colors, primary) !important;
        color: #000 !important;
    }
    .other_message {
        background: #dcdcdc !important;
        color: #000 !important;
    }
    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }
   

        
    .no-scroll .scroll-content {
        overflow:auto;

      }

        ion-item{
             background-color: transparent !important;
            ion-input {
                color: map_get($colors, netflixWhite);
                background-color: transparent !important;
                margin: 0;
                padding: 0;
               
              }    
             
        }
        


         /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .test {
        height: 100px;
      
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    .test {
        height: 100px;
       
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    .test {
        height: 100px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }  

    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    .test {
        height: 300px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    .test {
        height: 560px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
 
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    .test {
        height: 340px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    .test {
        height: 340px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .test {
        height: 100px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .test {
        height: 300px;
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 100px;
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }  
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 150px;
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 100px;
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 260px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 100px;
       
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 100px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .test {
        height: 100px;
       
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .test {
        height: 400px;
       
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
  
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .test {
        height: 400px;
        
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .test {
        height: 230px;
       
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .test {
        height: 230px;
       
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }

    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
       .test {
        height: 230px;
            scroll-snap-points-y: 100%;
         ion-list,ion-item{
         padding: 0;margin: 0;
        }
       
    }
    }

  

}

.list-avatar-page {
    h3{
        color: white;
    }
    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
  }